OMDB_API = {
    'URL': 'https://www.omdbapi.com',
    'KEY': '8031c622',
}

DATABASE = {
    'USER': 'msa',
    'PASS': 'msa',
    'HOST': 'msa_pgsql', # Comes from the container name (same network)
    'PORT': '5432',
    'DATABASE': 'msa',
}

APP = {
    'SECRET_KEY': '4TiWi2K-@2CEzUJlVEpX',
    'TESTING': True,
    'LISTEN': '*:8090',
}

RABBITMQ = {
    'HOST': 'msa_rabbitmq_c1',
    'QUEUE': 'msa_queue',
}
