[[source]]
name = "movie_service"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1"
pika = "==1.1"
requests = "==2.25.1"
waitress = "2.0"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
